<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <li>
          <img src="{{product.image}}" alt="">' {{product.name}}  {{product.cost}} {{product.description}}
        </li>
         <!-- <button type="btn btn-success" name="button">open</button> -->
      </div>
    </div>

  </div>
</div>
