.outlet{
  text-align: center;
  font-variant: small-caps;
  margin-top: 30px;
  /*background-color: black;*/
}
.btn{
  shape-inside: outside-shape;
  border: block;
  height: 50px;
  width: 75px;
  text-align: center;
  font-size: 30px;
}
.btn-hover{
  color:green;
  height: 400px;
  width: 400px;
}
